<!-- views/index.ejs -->
<!DOCTYPE html>
<html ng-app="rbac-forum">
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous">
        <title>RBAC functional forum</title>  
        <!--angularjs and angular-route-->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>
    </head>
    <body>
    <div class="container" style="margin-top: 35px">
    <!--Header-->
    <div class="page-header page-heading">
        <h1 class="pull-left">RBAC Forum</h1>
        <ol class="breadcrumb pull-right where-am-i">
            <li id = "user"><%= user.local.username %></li>
            <li ng-show='username'><a href="/login">Login</a></li>
            <li class="active"><a href = "profile#/">List of topics</a></li>
            <li ng-hide='username'><a href="/logout" class="btn btn-warning btn-sm">Logout</a></li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <p class="lead">This is a basic role-based access control forum. There are users, topics, posts, and comments. Topics have many posts which have many comments. Each post and comment is authored by a user.</p>
     <div ng-view>
         
     </div>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>